input {
  beats {
    port => 5044
  }
}

filter {
  if [log][file][path] =~ "nginx" {
    grok {
      match => { "message" => '%{IPORHOST:client_ip} - %{USER:remote_user} \[%{HTTPDATE:timestamp}\] "%{WORD:method} %{URIPATHPARAM:request} HTTP/%{NUMBER:http_version}" %{NUMBER:status} %{NUMBER:bytes} "(?:%{URI:referrer}|-)" "(?:%{DATA:user_agent}|-)" "(?:%{IPORHOST:forwarded_for}|-)"' }
    }
    date {
      match => [ "timestamp", "dd/MMM/yyyy:HH:mm:ss Z" ]
      target => "@timestamp"
    }
  }
}

output {
  elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    index => "logs-%{+YYYY.MM.dd}"
  }
}
